.categoryNav {
    display: flex;
    background-color: #3d3c4a;
    box-shadow: 0 6px 5px -6px black;

    ul > li .active,
    ul > li .active:hover,
    li .active {
      color: white;
      background-color: #775ae4;
    }

    .nav-more-button a:hover {
        color: #775ae4;
      }
}

@media (max-width: 768px) {
    .categoryNav {
        display: none;
    }
}