.header {
  /* padding: 10px 0px; */
  background-color: #775ae4;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 8px 6px -6px black;
}

.brandName,
.brandName a {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  font-family: "Courgette";
  letter-spacing: 3px;
}

.mbrandName {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  font-family: "Courgette";
  letter-spacing: 1px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
}

.main-menu {
  ul {
    list-style-type: none;
    float: right;
    margin: 0px;
    padding: 15px 10px;
  }
  ul > li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
  }

  ul > li a {
    line-height: 10px;
    font-size: 20px;
    //display: block;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    font-family: "Architects Daughter";
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 5px;
  }

  ul > li .active,
  ul > li .active:hover,
  li .active {
    color: white;
    background-color: #3d3c4a;
  }

  .nav-more-button a:hover,
  .nav-more-content a:hover {
    color: #000;
  }
  .nav-more-button a {
    color: white;
    padding: 8px;
  }

  .nav-more-button {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: "Architects Daughter";
    letter-spacing: 1px;
    font-weight: 600;
  }
  .nav-more-content {
    display: none;
    position: absolute;
    background-color: #775ae4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    padding: 5px;
    z-index: 9;
  }
  .nav-more-content a {
    float: block;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .nav-more:hover .nav-more-content {
    display: block;
  }
}

.mobile-nav {
  background-color: #775ae4;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  transition: margin-left 0.5s;
  #main {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  a {
    color: #fff;
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;

    hr {
      height: 3px;
      opacity: 0.75;
    }

    a,
    .dropdown-btn {
      padding: 5px 10px 10px 20px;
      text-decoration: none;
      font-size: 18px;
      color: #333;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
      font-family: "Architects Daughter";
      letter-spacing: 1px;
      font-weight: 600;
    }
    .dropdown-container a{
      color: #000;
    }

    .dropdown-container {
      display: none;
      padding-left: 10px;
    }

    .fa-caret-down, .fa-close {
      float: right;
      padding-right: 8px;
      padding-top: 5px;
    }


    .closebtn {
      /* margin-left: 50px; */
      top: 0;
      left: 0;
      /* margin-left: auto; */
      margin-right: 30px;
      padding: 15px;
      background-color: #775ae4;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.logo_section {
  width: 10%;
  text-align: center;
}
